@import url("../comm.scss");
page {
	background-color: #F3F8FC;
}

.box {
	background-color: #fff;
	margin: 20rpx auto;
	border-radius: 16rpx;
}

.head {
	width: 75rpx;
	height: 75rpx;
	border-radius: 50%;
}