@import url("@/static/theme/comm.scss");
page {
	background-color: #F4F4FC;
}

.addbox {
	position: relative;
	min-height: 100vh;
}

.row {
	width: 710rpx;
	padding: 10rpx 0;
	background-color: #fff;
	margin: 20rpx auto;
	border-radius: 10rpx;
}

.btn {
	width: 710rpx;
	position: absolute;
	left: 20rpx;
	bottom: 40rpx;
	background-color: #2AC2B3;
	color: #fff;
}